body {
   height: 95vh;
   width: 95;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: rgb(144, 189, 78);   
   font-family: Helvetica, Arial, sans-serif;
}
